/01lec
/01_vitereact
/02counter
/03tailwindprops
/04bgproject
/05password
/06currency
/07reactRouter
/08miniContext
/09themeSwitcher
/10todocontextLocal
/customReact
/package-lock.json
/readme.md
/reduxToolkitTodo
/12appwrite/.env